.navbar-toggle {
    position: fixed !important;
}
.navbar {
    width: 20%;
    height: 100%;
    background-color: #333742;

    &-list {
        background-color: #333742;
        @media screen and( max-width: 768px) {
            width: 100%;
            height: 100%;
        }

        .navbar-item {
            background-color: #3f424b;
            border-radius: 5px;
            color: whitesmoke;
        }
    }
    .navbar-item {
        margin-top: 5px;
        border-top: black 1px solid;
        border-bottom: black 1px solid;
        p {
            margin-left: 5px;
        }
    }
}
