.add-worker {
    @include card-layout;
    text-align: center;
    display: block;
    background-color: #fff;
    width: 80%;
    border: 1px solid black;
    margin: 50px auto 0 auto;

    .add-worker-grid {
        @include mobile {
            flex-direction: column;
        }
    }

    &-fields {
        @include flex-form-fields;
        justify-content: space-around;
        margin-top: 10px;
        margin: 20px 0;
    }
    .add-worker-submit {
        margin-left: auto;
        margin-right: auto;
        font-size: large;
    }
}
