.add-worker {
    text-align: center;
    display: block;
    background-color: #fff;
    width: 80%;
    border: 1px solid black;
    border-radius: 20px;
    margin: 100px auto;

    .add-worker-grid {
        @include mobile {
            flex-direction: column;
        }
    }

    &-fields {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        margin-top: 10px;
        gap: 20px;
        margin: 20px 0;
    }
    .add-worker-submit {
        margin-left: auto;
        margin-right: auto;
        font-size: large;
    }
}
