.update-delivery {
    @include card-layout;
    @include form-layout;
    width: 45%;

    &-box > * {
        width: 100%;
    }

    &-fields {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
}
